<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="/static/bootstrap.css" rel="stylesheet" />
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header class="">
      <nav class="navbar navbar-light bg-light fixed-top">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Logic Launchr</a>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
              Task Menu 
            </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Find Automation..." aria-label="Search" />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form>
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/scraper/automation">Data Scraping</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/file/automation">File Management	</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Data/cleaning">Data Cleaning	</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/report/generation">Report Generation	</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/email/sending">Email Sending	</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Task/scheduling">Task Scheduling	</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Text/processing">Text Processing	</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/web/testing">Web Testing	</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Data/analysis">Data Analysis	</a>
              </li>
              <li class="nav-item">
               <a class="nav-link active" aria-current="page" href="/database/maintenance">Database Maintenance </a>
              </li>
             <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="/social/mediaposting">Social Media Posting	 </a>
              </li>
             <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="/image/processing">Image Processing	</a>
             </li>
             <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="/pdf/manipulation">PDF Manipulation	</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/natural/language/processing">Natural Language Processing	</a>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>

    <div class="container my-5 pt-5">
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 m-2">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Data Scraping</h4>
              <p class="fs-7">Automate the extraction of data from websites or APIs for analysis or processing.</p>
            </div>
            <div class="card-footer"><a href="/scraper/automation" class="btn btn-outline-success">Automate</a></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 m-2">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">File Management	</h4>
              <p class="fs-7">Write scripts to organize, move, rename, or delete files and directories automatically.
              </p>
            </div>
            <div class="card-footer"><a href="/file/automation" class="btn btn-outline-success">Automate</a></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 m-2">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Data Cleaning	</h4>
              <p class="fs-7">Develop scripts to clean and preprocess messy or unstructured data for analysis.
              </p>
            </div>
            <div class="card-footer"><a href="/Data/cleaning" class="btn btn-outline-success">Automate</a></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 m-2">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Report Generation	</h4>
              <p class="fs-7">Automate the creation of reports by fetching data from databases or other sources.
              </p>
            </div>
            <div class="card-footer"><a href="/email/sending" class="btn btn-outline-success">Automate</a></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 m-2">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Email Sending	</h4>
              <p class="fs-7">Write scripts to send automated emails for notifications, reminders, or marketing purposes.
              </p>
            </div>
            <div class="card-footer"><a href="/Task/scheduling" class="btn btn-outline-success">Automate</a></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 m-2">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Task Scheduling	</h4>
              <p class="fs-7">Use Python libraries like 'schedule' or 'apscheduler' to schedule and execute tasks at specific times.
              </p>
            </div>
            <div class="card-footer"><a href="/Text/processing" class="btn btn-outline-success">Automate</a></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 m-2">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Text Processing	</h4>
              <p class="fs-7">Develop scripts to perform tasks like text summarization, sentiment analysis, or keyword extraction.
              </p>
            </div>
            <div class="card-footer"><a href="/web/testing" class="btn btn-outline-success">Automate</a></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 m-2">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Data Analysis</h4>
              <p class="fs-7">Write scripts to analyze large datasets, perform statistical analysis, or generate visualizations.
              </p>
            </div>
            <div class="card-footer"><a href="/data/analysis" class="btn btn-outline-success">Automate</a></div>
          </div>
        </div>
       
        <div class="col-lg-3 col-md-4 m-2">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Database Maintenance	</h4>
              <p class="fs-7">Automate database tasks such as backup, restore, data migration, and schema management.
              </p>
            </div>
            <div class="card-footer"><a href="/social/mediaposting" class="btn btn-outline-success">Automate</a></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 m-2">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Social Media Posting	</h4>
              <p class="fs-7">Develop scripts to automate posting content on social media platforms at scheduled times.
              </p>
            </div>
            <div class="card-footer"><a href="/image/processing" class="btn btn-outline-success">Automate</a></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 m-2">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Image Processing</h4>
              <p class="fs-7">Automate tasks like image resizing, cropping, filtering, or recognition using Python libraries.
              </p>
            </div>
            <div class="card-footer"><a href="/pdf/manipulation" class="btn btn-outline-success">Automate</a></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 m-2">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">PDF Manipulation	</h4>
              <p class="fs-7">Develop scripts to extract, merge, split, or manipulate PDF files for various purposes.
              </p>
            </div>
            <div class="card-footer"><a href="/natural/language/processing" class="btn btn-outline-success">Automate</a></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 m-2">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Natural Language Processing	</h4>
              <p class="fs-7">Develop scripts to process and analyze text data, perform language translation, or chatbot interactions.
              </p>
            </div>
            <div class="card-footer"><a href="" class="btn btn-outline-success">Automate</a></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
</body>

</html>